*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    width: 100vw;
    height: 400px;
    background: black;
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-size: cover;
    

    
    display: flex;
    justify-content: center;
    align-items: center;
}
header svg{
    height: 80%;
    text-shadow: 10px 10px 10px;

}








@media only screen and (max-width: 1008px) {
    header {
        background-image: url(assets/bg.jpg);
      height: 150px;
    }
  }