*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{

    
}
header{
    width: 100vw;
    height: 100vw;
    background: black;
    background-image: url(assets/grk.png);
    background-position: center;
    background-size: cover;
    
    

    
    display: flex;
    justify-content: center;
    align-items: center;
}
header #logo{
    width: 50%;
    text-shadow: 10px 10px 10px;
    fill: white;

}








@media only screen and (max-width: 1008px) {
    header {
        
        height: 100vh;
       
    }
  }