@media only screen and (max-width: 999px) {
    .maincontainer {
        padding: 10px;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    li {
        display: none;
    }

    .logo{
        transform: translateX(100px);
    }
    header {
        height: 50px;
        padding: 5px 5px 5px 5px;
        position: sticky;
        z-index: 99;
        top:0;
        width: 100%;
        background: #fff;
    }
    .scrolling{
        transform: translateX(-100px);
        transition: .5s;
    }

    header .logo {
        

        height: 100%;
    }

    /* Header Bitti*/


    .kolon {
        height: auto;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .sol {
        margin-bottom: 10px;
    }
    /* Hoşgeldin Bitti*/




}